* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Press Start 2P', cursive, sans-serif;
    background-color: #05040bf7;
    color: white;
    font-size: 32px;
    padding: 8px;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
    background-color: #192E41;
    font-family: 'Roboto Mono', monospace, sans-serif;
}

.choices {
    display: flex;
    justify-content: space-evenly;
}

.result{
    color: red;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.score {
    display: flex;
    justify-content: space-around;
    height: 60px;
}

.your-score, .computer-score {
    background-color: #0D659D;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.your-score {
    margin-right: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.your-choice, .computer-choice {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    align-items: center;
    justify-content: space-around;
    background-color: #0D659D;
    border-radius: 10%;
}

.btn {
    font-size: 50px;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    text-align: center;
}

.reverse {
    transform: scale(-1, 1); /* This reverse the element inside the div */
}

button {
    background-color: #0C4160;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}

img {
    width: 100px;
}


.footer {
    background-color: #05040bf7;
    height: 3%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-family: 'Roboto Mono', monospace;
}